:root{
  --header : #f9f8f8;
  --font-primary: #007aff;
  --border: #ccc;
  --wall:#ffffff;
  --background: #ffffff;
  --btn-shadow: #65acf8;
  --btn-hover: rgba(0, 67, 253, 0.5);

/* 
  
  --header : #000000;
  --font-primary: #ff8000;
  --wall:#ffecc8;
  --border: #ccc;
  --background: #000000;
  --btn-shadow: #f8b165;
  --btn-hover: rgba(253, 143, 0, 0.5); */
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
  display: none;
  width: 6px;
}
